<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Hi There!</h1>

<!-- a person, a color, a noun, and an adjective --> 
<div>
<form action="/madlib">
    <p>
      Enter noun:<input type="text" name="noun"></input>
    </p>
    <p>
    <!-- <select name="color" id="color">
        <option value="pink">Pink</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="cyan">Cyan</option>
        <option value="gold">Gold</option>
        <option value="purple">Purple</option>
    </select> -->
        enter color:<input type="text" name="color"></input>
    </p>

    <p>
        Name a person!<input type="text" name="nombre"></input>
    </p>

    <p>
        Input an adjective<input type="text" name="adjective"></input>
    </p>


  <div>
    <button type="submit">Gimme madlib</button>
  </div>
</form>
</div>

</body>
</html>
